img {
  width: 50%;
}

header {
  background-color: black;
}

h1 {
  font-family: "Bebaus Neue", sans-serif;
  color: darkred;
}

input {
  margin-top: 15px;
}

button {
  margin-left: 10px;
}

.container {
  max-width: 1500px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.container2 {
  width: 100%;
  background-color: lightgrey;
  height: auto;
}

.bandiere {
  width: 15%;
}