img {
  width: 100%;
}

header {
  background-color: black;
}

h1 {
  font-family: "Bebaus Neue", sans-serif;
  color: darkred;
}

button {
  margin-left: 10px;
}

.container {
  max-width: 1500px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.container2 {
  width: 100%;
  background-color: lightgrey;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.bandiere {
  width: 15%;
}

.card-img img {
  transition: opacity 0.3s ease;
  width: 100%;
  display: block;
  opacity: 0.7;
}

.card:hover .card-img img {
  opacity: 1;
  cursor: pointer;
}

.card:hover .overlay {
  opacity: 1;
}

.overlay {
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease;
  position: absolute;
  flex-direction: column;
  background-color: black;
  justify-content: center;
  align-items: center;
  display: flex;
}

.card {
  position: relative;
  width: 200px;
  margin: 10px;
  overflow: hidden;
}

.card-title,
.card-text,
.card-language,
.card-vote {
  color: white;
  margin: 5px 0px;
  text-align: center;
}

li {
  color: white;
  padding: 0px 10px;
  margin-top: 5px;
  cursor: pointer;
}

ul {
  display: flex;
  list-style-type: none;
}

.icon-image {
  width: 50px;
}

.form {
  display: flex;
  align-items: center;
  gap: 15px;
}